DB_USER=postgres
DB_PASS=postgres_password
DB_NAME=test
DB_HOST=127.0.0.1

MAIL_USER=a@a.a
MAIL_PASSWORD=a_pass
MAIL_FROM=express@myapp.com

NODE_AUTH_SECRET=super_secret_salt
PORT=3000
NODE_ENV=development

FRONTEND_ORIGIN=http://localhost:3000

#debug namespaces
DEBUG=*,-sequelize:*
