html
  body
    //- form(action="/payment/charge", method="post")
    //-   article
    //-     label Amount: $5.00
    script(src='https://js.stripe.com/v3')
    button#checkout-button Pay
    script(src='/js/stripe.js')