doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no')
    title SocketSend
  body
    header
      span#status SEND MESSAGES TO USER
    main
      ul#messages
      form#form2
        input#id(type='text', required='', autofocus='', autocomplete='off')
        input#text(type='text', required='', autofocus='', autocomplete='off')
        button#submit SUBMIT
    script(src='/js/send.js')
