doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no')
    title WebSocket
  body
    header
      span#status OFFLINE
    main
      ul#messages
      form#form
        input#input1(type='text', required='', autofocus='', autocomplete='off')
        input#input2(type='text', required='', autofocus='', autocomplete='off')
        button#submit SUBMIT
    script(src='/js/script.js')
